.idea/
.vs/
.vscode/
build/
build-objs/
vcpkg_installed/
vendor/

CMakeLists.txt
Vane/CMakeLists.txt
Sandbox/CMakeLists.txt
VaneEditor/CMakeLists.txt

Makefile
Vane/Makefile
Sandbox/Makefile
VaneEditor/Makefile
