# IDE Configs
.idea/
.vs/
.vscode/

# Build files
build/
build-objs/
vcpkg_installed/
vendor/

# CLion / CMake generator
CMakeLists.txt
**/CMakeLists.txt

# gmake generator
Makefile
**/Makefile

# Visual Studio generator
*.sln
*.vcxproj 
*.vcxproj.user
*.vcxproj.filters
